@import '{poetic:materialize-scss}/sass/materialize.scss';
$c_primary: #00b8d4;
$d_container_max: 60rem;

$d_media_mobile: 480px;

$d_media_tablet: 768px;

$d_media_laptop: 960px;

$d_media_desktop: 1200px;
$b_mobile:  '(min-width: #{$d_media_mobile})';

$b_tablet:  '(min-width: #{$d_media_tablet})';

$b_laptop:  '(min-width: #{$d_media_laptop})';

$b_desktop: '(min-width: #{$d_media_desktop})';

@mixin bp($query) {
	@media all and #{$query} {
		@content;
	}
}

.btn {
	background-color: $c_primary;
}
