@import 'helpers';

.event__card {
	@extend .z-depth-1;
	padding: 1rem;
	margin-bottom: 1rem;
	overflow: hidden;
}

@keyframes slideInFromRight {
	from {
		transform: translateX(100vw);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes slideInFromLeft {
	from {
		transform: translateX(-100vw);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes slideOutToRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100vw);
	}
}
@keyframes slideOutToLeft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100vw);
	}
}
@keyframes driftBackground {
	0% {
		transform: translateY(10rem);
	}
	62% {
		transform: translateY(-10rem);
	}
	100% {
		transform: translateY(10rem);
	}
}
#events-calendar {
	animation: slideInFromLeft 1s;
	position: relative;
	top: 3rem;
	&.leaving {
		animation: slideOutToLeft 1s;
	}
}
#event__list {
  // max-height: 80vh;
  // overflow-y: scroll;
  // height: 100%;
  scroll-behavior: smooth;
	padding: 1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	animation: slideInFromRight 1s;
	position: relative;
	top: 4rem;
	&.leaving {
		animation: slideOutToRight 1s;
	}
  .event__image {
		width: calc(100% + 2rem);
		height: 10rem;
		background-size: cover;
		background-position: center center;
		margin-left: -1rem;
		margin-right: -1rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-content: flex-end;
		align-items: flex-end;
		padding: 1rem;
		position: relative;
		overflow: hidden;
		.image {
			animation: driftBackground 60s infinite;
			transition: 0.1s transform ease-in-out;
			animation-direction: normal;
			animation-fill-mode: both;
			position: absolute;
			top: -10rem;
			left: 0;
			right: 0;
			bottom: -10rem;
			width: 100%;
			background-position: center center;
			height: 30rem;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.event__cost {
			position: absolute;
			left: 1rem;
			top: 1rem;
			background-color: rgba(black, 0.3);
			color: white;
			border-radius: 3px;
			padding: 0.25rem 0.5rem;
			font-size: 0.75rem;
			text-transform: uppercase;
		}
		.event__sponsors {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: right;
			background: linear-gradient(to top, rgba(black, 0.5), transparent);
			padding: 0.5rem 1rem 0.25rem;
			font-size: 0.75rem;
			color: white;
			a {
				color: white;
			}
		}
		.event__remotes {
			position: absolute;
			top: 1rem;
			right: 1rem;
			.event__remote {
				float: right;
			}
			img {
				height: 2rem;
			}
		}
	}
  .event__link {
    display: block;
    flex: 1 1 100%;
    // margin: 0.5rem 0;
		padding: 0 1rem;
		@include bp($b_tablet) {
			flex: 0 1 calc(50% - 0.5rem)
		}
  }
  .event__title {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
		margin: 0.5rem auto;
  }
  .event__timespan {
    width: 100%;
    display: block;
		margin: 0.5rem auto;
  }
  .list__header {
    position: sticky;
		left: 0;
		right: 0;
		top: 7rem;
    background-color: white;
    min-width: 100%;
		flex: 1 1 100%;
		margin-left: -1rem;
		margin-right: -1rem;
    display: block;
    padding: 0.5rem 1rem;
    border-color: gray;
    border-width: 0 0 1px 0;
    border-style: solid;
		margin-bottom: 2rem;
		z-index: 9;
		&.fixed {
			@supports not (position: sticky) {
				position: fixed;
				max-width: 60rem;
				margin: 0 auto;
				min-width: auto;
			}
		}
    // @extend .z-depth-1;
  }
}

.event__view {
	margin-top: -4rem;
	&:before {
		content: '';
		background: linear-gradient(to bottom,  rgba(black,0.8) 0%, transparent 100%);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 20rem;

	}
	h1 {
		@extend h3;
	}
	.event__timespan {
		@extend h4;
		display: block;
		width: 100%;
	}
	.event__cost {
		@extend h4;
		display: block;
		width: 100%;
	}
	.event__image--background {
		position: fixed;
		top: -2rem;
		left: -2rem;
		width: calc(100% + 4rem);
		z-index: -1;
		filter: blur(1rem);
	}
	.event__image {
		@extend .z-depth-1;
		display: block;
		margin: 1rem auto;
		max-height: 25rem;
		position: sticky;
		top: 1rem;
		max-width: 100%;
	}
	.event__location {
		margin-bottom: 1rem;
	}
	.event__content {
		@extend .z-depth-1;
		background: white;
		padding: 1rem;
		min-height: calc(100vh - 30rem);
		margin-top: 1rem;
		position: relative;
		z-index: 9;
		overflow: hidden;
		#map {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			// bottom: 0;
			width: 100%;
			height: 100%;
			max-height: 100vh;
			transform: translateY(150%);
			transition: 0.5s transform ease-in-out;
			&.active {
				transform: translateY(0%);
			}
		}
		@include bp($b_laptop) {
			padding: 4rem;
		}
	}
	.btn--calendar {
		margin-bottom: 1rem;
	}
	.event__sponsors {
		min-width: 100%;
		margin: 1rem -1rem 1.5rem;
		padding: 0 1rem;
		border-top: 1px solid #AAA;
		overflow: hidden;
		h4 {
			width: 100%;
			margin: 1rem 0;
			// flex: 1 1 100%;
		}
		.event__sponsor {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			align-content: center;
			float: left;
			height: 6rem;
			img {
				max-height: 5rem;
				max-width: 7rem;
				margin-right: 1rem;
			}
		}
	}
	.event__categories {
		min-width: 100%;
		margin: 1rem -1rem 1.5rem;
		padding: 0 1rem;
		border-top: 1px solid #AAA;
		h4 {
			margin: 1rem 0;
		}
		.category__list {
			display: flex;
			flex-flow: row nowrap;
			overflow-y: hidden;
			overflow-x: scroll;
			justify-content: flex-start;
			align-items: center;
			padding: 1rem;
			min-width: 100%;
			margin: 1rem -1rem;
		}
		.event__category {
			@extend .z-depth-1;
			white-space: nowrap;
			background-color: $c_primary;
			color: white;
			float: left;
			margin: 0 0.5rem 0.5rem 0;
			padding: 0.5rem;
			border-radius: 1rem;
		}
	}
}

.event--edit {
	position: relative;
	img {
		max-width: 100%;
		max-height: 30rem;
	}
}
