@import 'helpers';
* {
  box-sizing: border-box !important;
}

html {
  font-size: responsive 12px 18px !important;
}

.modal--active {
  display: block;
  top: 0;
  bottom: 0;
}

#modal--login_register {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(black, 0.5);
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  // padding: 0 1rem 1rem;
  padding: 0;
  max-width: 60rem;
  margin: 0 auto;
  min-height: 80vh;
  position: relative;
  top: 4rem;
}


#pacific_sky {
  display: block;
  margin: 1rem auto;
  text-align: center;
  line-height: 1em;
  font-size: 1.5rem;
  font-weight: 100;
  img {
    height: 1.2em;
    display: inline-block;
    position: relative;
    top: 0.3em;
  }
}


input[type=checkbox],
select {
  display: initial !important;
  position: static !important;
  opacity: 1 !important;
}
body {
  line-height: 1.45;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

header {
  position: fixed;
  top: 0;
  width: 100%;
  // background-color: white;
  z-index: 999;
  height: 4rem;
  a {
    // @extend .z-depth-1;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0.5rem 0;
  }
  #Logo {
    max-width: 10rem;
    max-height: 4rem;
    margin: 0 auto;
    display: block;
  }
  .calendar--controls {
    @extend .z-depth-1;
    width: 100%;
    display: block;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 1.5rem;
    color: white;
    background-color: $c_primary;
    padding: 1rem;
  }
  .calendar--prev {}
  .calendar--next {}
}

#homeView {
  @extend .z-depth-1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: white;
  // margin-left: -1rem;
  // margin-right: -1rem;
  // margin-bottom: 2rem;
  span {
    flex: 1 1 auto;
    text-align: center;
    cursor: pointer;
    i {
      font-size: 2rem;
      margin: 1rem auto;
    }
    &.active {
      background-color: $c_primary;
      i {
        color: white;
      }
    }
  }
}

select[name=categoryFilter] {
  @extend .z-depth-1;
  z-index: 10;
  display: block;
  // margin-bottom: 1rem;
  position: fixed !important;
  top: 4rem;
  background-color: white;
}

.fc-button {
  @extend .z-depth-1;
  border: none;
  border-radius: 0 !important;
  background: white;
  text-shadow: none;
  font-size: 1rem;
  &.fc-state-active {
    background-color: $c_primary;
    color: white;
  }
}

.fc-event {
  border-radius: 0;
  border: none;
  background-color: $c_primary;
  .fc-month-view & {
    padding: 2px;
  }
}

.fc-month-view .fc-not-end.fc-not-start {
  display: none !important;
}

#events-calendar .fc-day-number {
  font-size: 0.5rem;
}

.fc-toolbar {
  @extend .z-depth-1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 0;
  & > div {
    flex: 1 1 33%;
    float: none;
  }
  .fc-button {
    width: 100%;
    box-shadow: none;
  }
}

#history--back,
#map--close {
  // color: white;
  position: fixed;
  background: linear-gradient(to bottom, black, transparent);
  padding-left: 1rem;
  left: 0;
  top: 0;
  right: 0;
  padding-top: 2rem;
  z-index: 999;
  i {
    font-size: 3rem;
    line-height: 1;
    color: white;
  }
}
