@import 'helpers';

#sponsor-category--list {
	padding-top: 4rem;
	.sponsor-category--link {
		display: block;
		width: 100%;
		float: left;
	}
}

.sponsor-category--single {
	padding-top: 4rem;
	.category__sponsor {
		position: relative;
		.remove {
			position: absolute;
			top: 0;
			right: 0;
		}
		img {
			max-width: 20rem;
			max-height: 20rem;
		}
	}
}

#sponsorNew {
	padding-top: 4rem;
}
