<template name="sponsor">
	<div id="sponsor-category--list">
		{{#each category in categories}}
		<a href="{{pathFor 'sponsorCategory' categoryId=category._id}}" class="sponsor-category--link">{{category.name}}</a>
		{{/each}}
	</div>
</template>

<template name="sponsorCategory">
	{{#with category}}
	<div class="sponsor-category--single" id="{{_id}}">
		<h1>Sponsors of {{category.name}} Category</h1>
		{{#each sponsor in categorySponsors}}
		<div class="category__sponsor" id="{{sponsor._id}}">
			<h2><input type="text" value="{{sponsor.name}}"></h2>
			<h3><input type="text" value="{{sponsor.url}}"></h3>
			<img src="{{sponsor.logoSrc}}" alt="" />
			<input type="file" name="logo" value="">
			<button class="remove">X</button>
		</div>
		{{/each}}
		<form id="sponsorAdd">
			<select name="sponsorId">
				<option>- add a sponsor -</option>
				{{#each sponsor in sponsors}}
				<option value="{{sponsor._id}}">{{sponsor.name}}</option>
				{{/each}}
			</select>
			<input type="submit" value="Add Sponsor">
		</form>
	</div>
	{{/with}}
</template>

<template name="sponsorNew">
	<form id="sponsorNew">
		<h1>Add Sponsor</h1>
		<input type="text" name="name" placeholder="Sponsor Name">
		<input type="text" name="url" placeholder="Sponsor URL">
		<input type="file" name="logo">
		<select name="sponsorCategory">
			<option value="">- sponsor a category -</option>
			{{#each category in categories}}
				<option value="{{category._id}}">{{category.name}}</option>
			{{/each}}
		</select>
		<input type="submit" value="Save Sponsor">
	</form>
</template>
