<template name="logo">
	<svg id="Logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123.32 122.86">
	  <defs>
	    <style>
	      .cls-1 {
	        fill: #00e0ff;
	      }
	    </style>
	  </defs>
	  <title>Logo</title>
	  <path class="cls-1" d="M106.93,16l-8.24,0,0,7.75A11.77,11.77,0,0,1,86.91,35.42H86.85A11.71,11.71,0,0,1,75.21,23.61l0-7.74-26.52-.13,0,7.75A11.77,11.77,0,0,1,37,35.18H36.92A11.71,11.71,0,0,1,25.27,23.38l0-7.74-8.24,0C8,15.55.55,21.93,0.5,29.85L0.44,39.08l122.8,0.6,0,4L0.42,43.08,0,108c-0.05,7.92,7.29,14.37,16.39,14.42l89.85,0.44c9.1,0,16.53-6.34,16.58-14.26l0.5-78.16C123.37,22.53,116,16.07,106.93,16Zm7.18,90.53c0,4.84-4.56,8.74-10.12,8.71l-85.24-.41c-5.56,0-10-4-10-8.81L9.08,49.8l105.37,0.51Z"/>
	  <path class="cls-1" d="M42.12,75a18.78,18.78,0,0,1,3.09.28,28.87,28.87,0,1,1,43.6,33.46c-3-5.78-7.18-10-11.95-11.71a12.86,12.86,0,1,0-17.07-9.62,12.72,12.72,0,0,0,.71,2.4,12.9,12.9,0,0,0,7.09,7.09c-4.83,1.59-11.5,6.28-14.58,12-0.21.31-.21,0.31-0.31,0.44-2-3.83-4.89-6.56-8.13-7.55a8.38,8.38,0,1,0-5.12-.08c-3.27.89-6.16,3.57-8.25,7.37A18.8,18.8,0,0,1,42.12,75Z"/>
	  <path class="cls-1" d="M37.09,0h0a7.71,7.71,0,0,1,7.66,7.78L44.7,23.47A7.74,7.74,0,0,1,37,31.18h0a7.71,7.71,0,0,1-7.66-7.78l0.1-15.69A7.74,7.74,0,0,1,37.09,0"/>
	  <path class="cls-1" d="M87,0.24h0A7.71,7.71,0,0,1,94.73,8l-0.1,15.69a7.74,7.74,0,0,1-7.72,7.71h0a7.71,7.71,0,0,1-7.66-7.78l0.1-15.69A7.74,7.74,0,0,1,87,.24"/>
	</svg>
</template>
