<template name="layout">
  {{> Template.dynamic template=header}}
  <main>{{> Template.dynamic template=main}}</main>
  <!-- <a href="https://pacificsky.co" target="_blank" id="pacific_sky">A project by <img src="https://pacificsky.co/logo"></a> -->
</template>

<template name="header">
  <header>
    {{#if mapOpen}}
      <a href="" id="map--close"><i class="material-icons">close</i></a>
    {{else}}
      {{#if history.length}}
        <a id="history--back" href="{{last history}}"><i class="material-icons">arrow_back</i></a>
      {{/if}}
    {{/if}}
    {{#if calendarView}}
      <span class="calendar--controls">
        <span class="calendar--prev"><i class="material-icons">navigate_before</i></span>
        <span class="calendar--span">{{calendarSpan}}</span>
        <span class="calendar--next"><i class="material-icons">navigate_next</i></span>
      </span>
    {{/if}}
  </header>
</template>


<template name="home">
  <select name="categoryFilter">
      <option value="all">- filter by category -</option>
    {{#each cat in categories}}
      <option value="{{cat._id}}">{{cat.name}}</option>
    {{/each}}
  </select>
  {{#if viewIs 'list'}}
  	{{> eventList orderBy='date' category=category}}
  {{else}}
    {{> eventCalendar}}
  {{/if}}
  <div id="homeView">
    <span data-view="calendar" class="{{viewIs 'calendar'}}"><i class="material-icons">event</i></span>
    <span data-view="list" class="{{viewIs 'list'}}"><i class="material-icons">list</i></span>
  </div>
</template>

<template name="login_register">
  <div id="modal--login_register">
    {{> loginButtons}}
  </div>
</template>
