<template name="eventEdit">
	{{#with event}}
		<form class="event event--edit" id="{{_id}}">
			<h1><input type="text" name="title" value="{{title}}"></h1>
			<textarea name="description">{{description}}</textarea>
			<select multiple name="categoryIds">
				{{#each category in categories}}
					<option value="{{category._id}}" {{selectedIfInArray category._id categoryIds}}>{{categoryById category._id}}</option>
				{{/each}}
			</select>
			<label for="recurrence__exists">Recurring?<input type="checkbox" id="recurrence__exists" name="recurrence__exists" {{checkedIf recurrence}}></label>
			{{#if recurrence}}
				<fieldset name="recurrence">
					<legend>Recurrence</legend>
					<fieldset name="recurrence__duration">
						<legend>Duration</legend>
						<label for="recurrence__duration__allDay">All Day?<input {{checkedIf recurrence.duration.allDay}} type="checkbox" name="recurrence__duration__allDay" id="recurrence__duration__allDay" {{checkedIf recurrence.duration.allDay}}></label>
						{{#if recurrence.duration.allDay}}
						{{else}}
							<input type="text" name="recurrence__duration__start" value="{{moment recurrence.duration.start 'h:mm A'}}" placeholder="Start Time">
							<input type="text" name="recurrence__duration__end" value="{{moment recurrence.duration.end 'h:mm A'}}" placeholder="End Time">
						{{/if}}
					</fieldset>
					<fieldset name="recurrence__dateRange">
						<legend>Recurs from, until</legend>
						<input type="text" name="recurrence__dateRange__start" value="{{moment recurrence.dateRange.start 'MMM D YYYY'}}" placeholder="Start Date">
						<input type="text" name="recurrence__dateRange__end" value="{{moment recurrence.dateRange.end 'MMM D YYYY'}}" placeholder="End Date">
					</fieldset>
					<label for="recurrence__frequency">Frequency of Recurrence</label>
					<select name="recurrence__frequency">
						<option value="">- select frequency -</option>
						{{#each frequency in DateFrequency.getIdentifiers}}
							<option value="{{@index}}" {{selectedIf @index recurrence.frequency}}>{{frequency}}</option>
						{{/each}}
					</select>
					<label for="recurrence__interval">Occurs Every how many {{recurrence.frequencyUnit}}s</label><input type="number" value="{{recurrence.interval}}" name="recurrence__interval" placeholder="Interval">
					<label for="recurrence__count">Number of Recurrences</label><input type="number" name="recurrence__count" placeholder="Limit number, if any" value="{{recurrence.count}}">
				</fieldset>
			{{else}}
				<fieldset name="duration">
					<legend>Duration</legend>
					<label for="duration__allDay">All Day?<input type="checkbox" name="duration__allDay" id="duration__allDay" {{checkedIf duration.allDay}}></label>
					{{#if duration.allDay}}
					<input name="duration__start--day" type="text" value="{{moment duration.start 'MMM Do'}}" placeholder="Start Date">
					<input name="duration__end--day" type="text" value="{{moment duration.end 'MMM Do'}}" placeholder="End Date">
					{{else}}
					<input name="duration__start--day" type="text" value="{{moment duration.start 'MMM Do'}}" placeholder="Date">
					<input name="duration__start--time" type="text" value="{{moment duration.start 'h:mm a'}}" placeholder="Start Time">
					<input name="duration__end--time" type="text" value="{{moment duration.end 'h:mm a'}}" placeholder="End Time">
					{{/if}}
				</fieldset>
			{{/if}}
			<fieldset name="location">
				<legend>Location</legend>
				<input id="googler" type="text" placeholder="Search Google for a Location">
				<input type="text" name="location__street" value="{{location.street}}" placeholder="Street Address">
				<input type="text" name="location__city" value="{{location.city}}" placeholder="City Name">
				<select name="location__state">
					{{#each state in options.states}}
						<option value="{{state}}" {{selectedIf state location.state}}>{{state}}</option>
					{{/each}}
				</select>
				<input type="text" name="location__zip" value="{{location.zip}}" placeholder="ZIP Code">
				<input type="hidden" name="location__lat">
				<input type="hidden" name="location__lng">
				<input type="hidden" name="location__country" value="USA">
			</fieldset>
			<input name="cost" value="{{cost}}" type="text" placeholder="Cost">
			<input name="ageLimit" value="{{ageLimit}}" type="text" placeholder="Age Limit">
			<img src="{{getImage}}">
			<input type="file" name="image">
			{{#if remote}}
				<h2>Remote ID</h2>
				<h3>{{remote.name}}</h3>
				<input name="remote" value="{{remote.id}}">
			{{/if}}
			{{#if addlRemotes.length}}
				<h2>Additional Remotes</h2>
				{{#each addlRemote in addlRemotes}}
					<h3>{{addlRemote.name}}</h3>
					<input name="remote--{{index}}" value="{{addlRemote.id}}">
				{{/each}}
			{{/if}}
			<input type="button" value="This event is a duplicate" name="duplicate">
			<input type="button" value="Delete" name="delete">
		</form>
	{{/with}}
</template>

<template name="modalDuplicateDisambiguate">
	<form id="duplicateDisambiguate" class="modal modal--active">
		<h2>Select Event</h2>
		<p>
			Select the event of which this is a duplicate. This event will be deleted after its data has been merged. Be sure to check the merged event for correctness.
		</p>
		<select name="event">
			<option value="">- select event -</option>
			{{#each event in events}}
				<option value="{{event._id}}">{{event.title}}: {{event.timespan}}</option>
			{{/each}}
		</select>
		<input type="submit" value="Confirm">
	</form>
</template>
