<template name="eventCard">
	{{#with event}}
		<div class="event event__card" id="{{_id}}">
			<h2>{{title}}</h2>
			<p>
				<!-- {{shortDescription}} -->
			</p>
			<a href="{{pathFor 'eventView' eventId=_id}}">More</a>
		</div>
	{{/with}}
</template>

<template name="eventList">
	<div id="event__list">
		{{#each event in events}}
			<a id="{{event._id}}" class="event__link event__card" href="{{pathFor 'eventView' eventId=event._id}}">
				<div class="event__image">
					<div class="image" style="{{#if event.image}}background-image:url({{event.getImage}}){{else}}background: linear-gradient(to top, {{event.categoryGradient}}){{/if}};animation-delay: {{random -20000 1}}ms"></div>
					<div class="event__cost">{{event.cost}}</div>
					<div class="event__sponsors">
						{{{event.sponsorLinks}}}
						<!-- {{#each sponsor in event.sponsors}}
							<a class="event__sponsor" href="{{sponsor.url}}" target="_blank"><img src="{{sponsor.logoSrc}}" alt="{{sponsor.name}}"></a>
						{{/each}} -->
					</div>
					{{#if event.remote}}
						<div class="event__remotes">
							<a clas="event__remote" href="{{event.remote.link}}" target="_blank"><img src="{{event.remote.logo}}" alt="" /></a>
							{{#each addlRemote in event.addlRemote}}
								<a clas="event__remote" href="{{addlRemote.link}}" target="_blank"><img src="{{addlRemote.logo}}" alt="" /></a>
							{{/each}}
						</div>
					{{/if}}
				</div>
				<span class="event__title">{{event.title}}</span>
				<span class="event__timespan">{{event.timespan}}</span>
			</a>
		{{/each}}
	</div>
</template>

<template name="eventCalendar">
	<div id="events-calendar"></div>
</template>

<template name="eventView">
	<div class="event event__view" id="{{event._id}}">
		{{#if event.image}}
			<img src="{{event.getImage}}" class="event__image--background">
			<img src="{{event.getImage}}" class="event__image">
			<style media="screen">
				#history--back {
					color: white;
				}
			</style>
		{{/if}}
		<div class="event__content">
			<h1>{{event.title}}</h1>
			{{#if false}}<button class="event__save">{{#if currentUserIsAttending}}Remove{{else}}Save{{/if}}</button>{{/if}}
			<span class="event__timespan">{{event.timespan}}</span>
			<div class="event__cost">{{event.cost}}</div>
			<a href="{{pathFor 'eventView' eventId=event._id}}/ics" download class="btn btn--calendar"><i class="material-icons left">event</i>ICS</a>
			<a href="{{event.gCalLink}}" target="_blank" class="btn btn--calendar"><i class="material-icons left">event</i>Add to Google Calendar</a>
			<div class="event__location btn orange"><i class="material-icons left">map</i>{{#if event.location.name}}{{event.location.name}}: {{/if}}{{#if event.location.street}}{{event.location.street}}{{/if}} {{event.location.city}}</div>
			<div class="event__description">
				{{{event.description}}}
			</div>
			{{#if event.sponsors.count}}
				<div class="event__sponsors">
					<h4>Listing Sponsored By</h4>
					{{#each sponsor in event.sponsors}}
						<a class="event__sponsor" href="{{sponsor.url}}" target="_blank"><img src="{{sponsor.logoSrc}}" alt="{{sponsor.name}}"></a>
					{{/each}}
				</div>
			{{/if}}
			<div class="event__categories">
				<h4>Categories</h4>
				<div class="category__list">
					{{#each category in event.categories}}
						<div class="event__category">{{category.name}}</div>
					{{/each}}
				</div>
			</div>
			{{#if event.remote}}
				<div class="event__remotes">
					<a clas="event__remote" href="{{event.remote.link}}" target="_blank"><img src="{{event.remote.logo}}" alt="" /></a>
					{{#each addlRemote in event.addlRemotes}}
						<a clas="event__remote" href="{{addlRemote.link}}" target="_blank"><img src="{{addlRemote.logo}}" alt="" /></a>
					{{/each}}
				</div>
			{{/if}}
			{{#if currentUser.admin}}
			<br><a id="{{event._id}}" class="event__edit__link" href="{{pathFor 'eventEdit' eventId=event._id}}">Edit Event</a>
			{{/if}}
			<div id="map"></div>
		</div>
	</div>
</template>
